<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCH91xWHm6bE48OVQxYxVPtEq92v50M2fA</string>
	<key>GCM_SENDER_ID</key>
	<string>435190786540</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.xhs</string>
	<key>PROJECT_ID</key>
	<string>xhsdemo</string>
	<key>STORAGE_BUCKET</key>
	<string>xhsdemo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:435190786540:ios:5a77b2f2656745a62378c9</string>
	<key>DATABASE_URL</key>
	<string>https://xhsdemo-default-rtdb.firebaseio.com</string>
</dict>
</plist>